<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{subject}}</title>
</head>
<body style="font-family:sans-serif;line-height:1.5;">
  {{> header}}
  {{{body}}} <!-- template content will be injected here -->
  {{> footer}}
</body>
</html>
