<p>Welcome to TimeBank, {{first_name}}!</p>
<p>Thank you for joining our community. You can now start trading your time and skills with other members.</p>
<p>Here's what you can do next:</p>
<ul>
  <li>Complete your profile</li>
  <li>Browse available jobs</li>
  <li>Post your own services</li>
  <li>Connect with other members</li>
</ul>
<p>If you have any questions, feel free to contact our support team.</p>
<p>Happy time banking!</p>
